header, .right-sidebar, .content-panel {
  border-color: var(--sl-color-hairline-light) !important;
}

site-search kbd {
  background-color: var(--sl-color-gray-5);
}

.sl-link-card:hover {
  background-color: var(--sl-color-gray-6);
}

.expressive-code pre {
  --code-background: var(--sl-color-gray-6);
}
