/* Dark mode colors. */
:root {
	--sl-color-accent-low: hsl(316, 74%, 25%);
	--sl-color-accent: hsl(316, 74%, 65%);
	--sl-color-accent-high: hsl(316, 74%, 85%);
	--sl-color-white: #cad3f5;
	--sl-color-gray-1: #b8c0e0;
	--sl-color-gray-2: #a5adcb;
	--sl-color-gray-3: #8087a2;
	--sl-color-gray-4: #494d64;
	--sl-color-gray-5: #363a4f;
	--sl-color-gray-6: #1e2030;
	--sl-color-gray-7: #181926;
	--sl-color-black: #24273a;

  --sl-hue-orange: 21;
	--sl-color-orange-low: hsl(var(--sl-hue-orange), 33%, 25%);
	--sl-color-orange: hsl(var(--sl-hue-orange), 86%, 73%);
	--sl-color-orange-high: hsl(var(--sl-hue-orange), 82%, 87%);
	--sl-hue-green: 105;
	--sl-color-green-low: hsl(var(--sl-hue-green), 33%, 25%);
	--sl-color-green: hsl(var(--sl-hue-green), 48%, 72%);
	--sl-color-green-high: hsl(var(--sl-hue-green), 82%, 80%);
	--sl-hue-blue: 220;
	--sl-color-blue-low: hsl(var(--sl-hue-blue), 33%, 25%);
	--sl-color-blue: hsl(var(--sl-hue-blue), 83%, 75%);
	--sl-color-blue-high: hsl(var(--sl-hue-blue), 100%, 87%);
	--sl-hue-purple: 267;
	--sl-color-purple-low: hsl(var(--sl-hue-purple), 33%, 25%);
	--sl-color-purple: hsl(var(--sl-hue-purple), 83%, 80%);
	--sl-color-purple-high: hsl(var(--sl-hue-purple), 82%, 89%);
	--sl-hue-red: 351;
	--sl-color-red-low: hsl(var(--sl-hue-red), 33%, 25%);
	--sl-color-red: hsl(var(--sl-hue-red), 74%, 73%);
	--sl-color-red-high: hsl(var(--sl-hue-red), 82%, 87%);

  color-scheme: dark;
}
