/* Dark mode colors. */
:root {
	--sl-color-accent-low: hsl(189, 48%, 13%);
	--sl-color-accent: hsl(189, 48%, 53%);
	--sl-color-accent-high: hsl(189, 48%, 73%);
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c6d0f5;
	--sl-color-gray-3: #a5adce;
	--sl-color-gray-4: #51576d;
	--sl-color-gray-5: #414559;
	--sl-color-gray-6: #292c3c;
	--sl-color-gray-7: #232634;
	--sl-color-black: #303446;

  --sl-hue-orange: 21;
	--sl-color-orange-low: hsl(var(--sl-hue-orange), 33%, 25%);
	--sl-color-orange: hsl(var(--sl-hue-orange), 86%, 73%);
	--sl-color-orange-high: hsl(var(--sl-hue-orange), 82%, 87%);
	--sl-hue-green: 105;
	--sl-color-green-low: hsl(var(--sl-hue-green), 33%, 25%);
	--sl-color-green: hsl(var(--sl-hue-green), 48%, 72%);
	--sl-color-green-high: hsl(var(--sl-hue-green), 82%, 80%);
	--sl-hue-blue: 220;
	--sl-color-blue-low: hsl(var(--sl-hue-blue), 33%, 25%);
	--sl-color-blue: hsl(var(--sl-hue-blue), 83%, 75%);
	--sl-color-blue-high: hsl(var(--sl-hue-blue), 100%, 87%);
	--sl-hue-purple: 267;
	--sl-color-purple-low: hsl(var(--sl-hue-purple), 33%, 25%);
	--sl-color-purple: hsl(var(--sl-hue-purple), 83%, 80%);
	--sl-color-purple-high: hsl(var(--sl-hue-purple), 82%, 89%);
	--sl-hue-red: 351;
	--sl-color-red-low: hsl(var(--sl-hue-red), 33%, 25%);
	--sl-color-red: hsl(var(--sl-hue-red), 74%, 73%);
	--sl-color-red-high: hsl(var(--sl-hue-red), 82%, 87%);

  color-scheme: dark;
}
