/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: hsl(355, 76%, 0%);
	--sl-color-accent: hsl(355, 76%, 39%);
	--sl-color-accent-high: hsl(355, 76%, 59%);
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #4c4f69;
	--sl-color-gray-3: #acb0be;
	--sl-color-gray-4: #bcc0cc;
	--sl-color-gray-5: #ccd0da;
	--sl-color-gray-6: #e6e9ef;
	--sl-color-gray-7: #dce0e8;
	--sl-color-black: #eff1f5;
	
	--sl-color-bg-nav: #dce0e8;
	--sl-color-bg-sidebar: #dce0e8;
	--sl-color-hairline-light: #bcc0cc;

  --sl-color-orange-high: hsl(var(--sl-hue-orange), 80%, 25%);
	--sl-color-orange: hsl(var(--sl-hue-orange), 90%, 60%);
	--sl-color-orange-low: hsl(var(--sl-hue-orange), 90%, 88%);
	--sl-color-green-high: hsl(var(--sl-hue-green), 80%, 22%);
	--sl-color-green: hsl(var(--sl-hue-green), 90%, 46%);
	--sl-color-green-low: hsl(var(--sl-hue-green), 85%, 90%);
	--sl-color-blue-high: hsl(var(--sl-hue-blue), 80%, 30%);
	--sl-color-blue: hsl(var(--sl-hue-blue), 90%, 60%);
	--sl-color-blue-low: hsl(var(--sl-hue-blue), 88%, 90%);
	--sl-color-purple-high: hsl(var(--sl-hue-purple), 90%, 30%);
	--sl-color-purple: hsl(var(--sl-hue-purple), 90%, 60%);
	--sl-color-purple-low: hsl(var(--sl-hue-purple), 80%, 90%);
	--sl-color-red-high: hsl(var(--sl-hue-red), 80%, 30%);
	--sl-color-red: hsl(var(--sl-hue-red), 90%, 60%);
	--sl-color-red-low: hsl(var(--sl-hue-red), 80%, 90%);

  color-scheme: light;
}
