.pagination-links > a, .sl-link-card {
  box-shadow: none !important;
}

.header, .right-sidebar, .content-panel {
  border-color: var(--sl-color-gray-5) !important;
}

site-search kbd {
  background-color: var(--sl-color-gray-5);
}

[data-theme="light"] site-search kbd {
  background-color: var(--sl-color-gray-5);
}

[data-theme="light"] #starlight__sidebar ul li {
  border-color: var(--sl-color-hairline-light);
}

.expressive-code {
  border: 1px solid var(--sl-color-gray-5);
}

.frame.has-title.not-content, .expressive-code .frame {
  box-shadow: none !important;
}

.expressive-code span.title {
  margin: 0 !important;
  background: var(--sl-color-gray-6) !important;
  background-clip: border-box !important;
}

.expressive-code pre {
  --code-background: var(--sl-color-gray-6);
  background: var(--sl-color-gray-6);
}

.expressive-code .frame.is-terminal .header {
  border: none !important;
}

.expressive-code .frame.is-terminal span.title {
  background-color: transparent !important;
}
